body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('https://thumbs.dreamstime.com/b/red-brown-block-brick-wall-beautifully-arranged-texture-backgrou-background-110259074.jpg');
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    align-items: center;
}

h1 {
    font-size: 60px;
    color: #eee;
    text-shadow: 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.score {
    position: absolute;
    top: 0px;
    right: 100px;
}

.grid {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    background-image: url('https://thumbs.dreamstime.com/b/soccer-football-grass-field-striped-soccer-football-grass-field-texture-background-copy-space-108344251.jpg');
    resize: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: gold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.snake-head-top {
    border-radius: 10px 10px 0 0;
}

.snake-head-right {
    border-radius: 0 10px 10px 0;
}

.snake-head-bottom {
    border-radius: 0 0 10px 10px;
}

.snake-head-left {
    border-radius: 10px 0 0 10px;
}

.food {
    background-color: pink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}